* {
    /*margin: 0;
    padding: 0;*/
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    line-height: 1.2em;
    font-family: 'Raleway', sans-serif;
    margin: 0;
}


/******** navigering ********/

.siteheader {
    max-width: 100%;
    background-color: #fff;
    padding: 20px 0;
}

.siteheader nav {
    font-size: 1.4em;
    margin: 0 auto;
    text-transform: uppercase;
}

ul {
    padding: 0;
}

li {
    display: inline-block;
    padding-right: 20px;
    ;
}

.textfield {
    border: 1px solid #000;
    padding: 5px;
    color: #000;
    background-image: url(images/searchicon.png);
    background-size: 17px;
    background-repeat: no-repeat;
    background-position: right;
    opacity: 0.3;
}


/******** maincontent ********/

.fullwidthcontainer {
    max-width: 100%;
}

.contentcontainer,
.contentheader,
.siteheader nav,
footer {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 20px;
}

.top_padding {
    padding-top: 90px;
}

.blackpurple {
    background-color: #999;
    color: #fff;
    height: 70px;
    padding: 0;
    background: linear-gradient(45deg, #000 81%, #9b99c1 25%);
    /*background: linear-gradient(110deg, #000 60%, #ccc 60%);*/
}

.white {
    background-color: #fff;
}

.purple {
    background-color: #9b99c1;
}

header h1 {
    font-size: 1.8em;
    display: inline-block;
}

.right {
    float: right;
    max-width: 50%;
    padding-left: 40px;
}

.left {
    float: left;
    max-width: 50%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

h2 {
    font-size: 1.4em;
    margin-top: 0;
}

a {
    text-decoration: none;
    color: #000;
}

figure {
    float: right;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

.note {
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
}

.note a {
    text-decoration: underline;
}

.bignote {
    margin: 60px auto 0;
    padding: 40px 20px;
    max-width: 900px;
    text-align: center;
}

footer {
    height: 100px;
    padding: 20px;
    margin-top: 40px;
    background: linear-gradient(45deg, #9b99c1 81%, #000 25%);
    /*background: linear-gradient(6deg, #999 63%, #EEe 20%);*/
}

.gallery {
    text-align: center;
}

.gallery img {
    max-width: 250px;
    display: inline-block;
    padding: 20px;
}